@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

body {
  background-color: #ffffff;
}

* {
  font-family: 'Inter', system-ui !important;
  box-sizing: border-box;
  user-select: none;
}

.App {
  display: flex;
  width: min-content;
  margin: 250px auto;
  background: linear-gradient(180deg, #9dc8c8,#97d2c6,#76b4c8);           
  padding: 30px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  width: 352px;

  input {
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 2rem;
    font-weight: 500;
    padding: 20px 20px;
    letter-spacing: 1.3px;
    outline: none;
    margin-top: 20px;
    border-radius: 5px;
    width: 100%;
  }
}

.currencies {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: rgb(210, 210, 210);
  flex-wrap: wrap;

  li {
    padding: 10px 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.05);
    cursor: pointer;
    background-color: #fff;
    width: 70px;



    &:hover {
      background-color: rgba(0, 0, 0, 0.03);
    }

    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }

    &.active {
      background: linear-gradient(180deg, #c6e628,#0c9b6f,#a1c247);          
      color: #fff;
    }

  }
}
